
body{
    background-color:crimson;
}

.mainFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 0;
  }
.sectionFlex {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    justify-items: center;
    margin-top: -50px;
    justify-content: center;
    right: 8vh;
}

.button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
 }
 
 .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #4d3ddb;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .button:hover {
  color: #e8e8e8;
 }
 
 .button:hover::before {
  width: 100%;
 }


 .pokeball {
  box-sizing: border-box;
  border: 10px solid #262122;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 0 auto;
  background: linear-gradient( 150deg, #BA0C2F 0%, #BA0C2F 48%, #262122 48%, #262122 52%, #FFF 52%, #FFF 100%);
}

.pokeball:before,
.pokeball:after {
  content: " ";
  border-radius: 100%;
  display: block;
  position: absolute;
}

.pokeball:before {
  background: #262122;
  width: 80px;
  height: 80px;
  margin-top: 75px;
  margin-left: 75px;
}

.pokeball:after {
  background: #fff;
  width: 50px;
  height: 50px;
  margin-top: 70px;
  margin-left: 70px;
  border: double 20px #262122;
}

.pokeball {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 6;
  animation-name: shake;
}

@keyframes shake {
  from {
    transform: none;
  }
  20% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  40% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  50% {
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 50deg);
  }
  to {
    transform: none;
  }
}


.div{
  justify-content:center;
  align-items:center;
}


h4{
  color: aliceblue;
}

.selectBoxes{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 2vh;
}


.pokeballContainer{
  margin-top: 30vh;
  display: flex;
  justify-content:center;
  align-items:center;
}