.container{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: white;
}

.error{
    position: absolute;
    width: 20%;
    height: 22%;
    left: 8%;
    top: 21%;

}
.text{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 43%;
    left: 8%;
    gap: 20px;
}

.ops{
   color: rgba(90, 177, 186, 1);
   font-size:60px;
}

.span{
    position: absolute; 
    top: 105%;
}

.button{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 75%;
    left: 16%;
    width: 380px;
    height: 64px;
    background-color:#5cb0ba;
    border: none;
    border-radius:20px;
    cursor: pointer;
    transition: 0.8s;
}

.button:hover{
    color: black;
}


.snorlax{
position: absolute;
width: 700px;
height: 650px;
left: 55%;
top: 9%;
animation: ilustrationAnimate ease-in 1s infinite alternate;
}

@keyframes ilustrationAnimate{
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.04);
    }
}
